@font-face {
    font-family: 'Potta One';
    src: url('../fonts/PottaOne-Regular.eot');
    src: url('../fonts/PottaOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PottaOne-Regular.woff2') format('woff2'),
        url('../fonts/PottaOne-Regular.woff') format('woff'),
        url('../fonts/PottaOne-Regular.ttf') format('truetype'),
        url('../fonts/PottaOne-Regular.svg#PottaOne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

