html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

@font-face {
  font-family: 'Potta One';
  src: url("../fonts/PottaOne-Regular.eot");
  src: url("../fonts/PottaOne-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PottaOne-Regular.woff2") format("woff2"), url("../fonts/PottaOne-Regular.woff") format("woff"), url("../fonts/PottaOne-Regular.ttf") format("truetype"), url("../fonts/PottaOne-Regular.svg#PottaOne-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

.section-bg .wraper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  background-color: aqua; }

.section-bg .wraper {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 768px) {
    .section-bg .wraper {
      display: flex;
      justify-content: center;
      align-items: center; } }
  @media (max-width: 480px) {
    .section-bg .wraper {
      display: flex;
      justify-content: space-between;
      align-items: center; } }
  .section-bg .wraper .box-1 {
    width: 100px;
    height: 100px;
    background-color: blue;
    transition: all 0.5s linear 0.5s; }
    @media only screen and (max-width: 800px) {
      .section-bg .wraper .box-1 {
        background-color: pink; } }
    @media (max-width: 600px) {
      .section-bg .wraper .box-1 {
        background: black; } }
    .section-bg .wraper .box-1:hover {
      background-color: green; }
    .section-bg .wraper .box-1 .test {
      font-family: "Roboto", sans-serif;
      font-size: 30px; }
  .section-bg .wraper .box-2 {
    width: 100px;
    height: 100px;
    background-color: red;
    border: 2px solid green;
    transition: all 0.7s ease 0.4s; }
    .section-bg .wraper .box-2:hover {
      background-color: aqua; }
    .section-bg .wraper .box-2 .test2 {
      font-family: "Potta One"; }
      @media (max-width: 800px) {
        .section-bg .wraper .box-2 .test2 {
          color: blue; } }

@media (max-width: 800px) {
  .section-bg .wraper .box-2 {
    width: 400px;
    background: lightseagreen; } }
